/* Navbar brand logo image styling */
.logo-img {
    height: 50px;
    width: auto;
  }
  
  /* Main content styling */
  .container.flex-grow-1 {
    min-height: 60vh; /* Ensures enough space for the main content */
  }
  
  .row.align-items-center {
    min-height: 100%; /* Center content vertically */
  }
  
  h1.display-4 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  p {
    margin: 0; /* Adjusts spacing for each location name */
  }
  /* Optional styling for the footer links */
footer h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  footer .list-unstyled li {
    margin-bottom: 0; /* Ensure links align horizontally */
  }
  .navbar {
    background: url(https://th.bing.com/th?id=OIP.c_aO9u-kmB9lESLxJFJr3AHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2
    ) no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
  .location-info {
      font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .location-info {
      font-size: 1.5rem;
  }
}

 
  