/* Navbar brand logo image styling */
.logo-img {
    height: 50px;
    width: auto;
  }
  
  /* Main content styling */
  .container.flex-grow-1 {
    min-height: 60vh; /* Ensures enough space for the main content */
  }
  
  .row.align-items-center {
    min-height: 100%; /* Center content vertically */
  }
  
  h1.display-4 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  p {
    margin: 0; /* Adjusts spacing for each location name */
  }
  /* Optional styling for the footer links */
footer h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  footer .list-unstyled li {
    margin-bottom: 0; /* Ensure links align horizontally */
  }
  .navbar {
    background: url(https://cdn.pixabay.com/photo/2020/08/03/18/32/starbucks-5460799_1280.jpg
    ) no-repeat center center;
    background-size: cover;
}


 
  