/* Ensure the logo in the navbar is a specific height */
/* Navbar brand image styling */
.navbar-brand img {
    height: 50px;
    /* Adjust as needed */
    width: auto;
    /* Maintains aspect ratio */
}

/* Adds space below the header */
.navbar {
    margin-bottom: 1px;
    /* Adjust as needed */
    background: url(https://cdn.pixabay.com/photo/2020/08/03/18/32/starbucks-5460799_1280.jpg
) no-repeat center center;
    background-size: cover;
}

/* style.css */
.coffee-image {
    width: 100%;
    height: fit-content;
    max-width: 100%;
    margin-right: 0%;
    object-fit: cover;
    border-radius: 0.25rem;
    /* Optional: to keep the rounded corners */
}